<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>fsharer</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<logo>
			<h1>fsharer</h1>
			<p>simple temporary filesharing</p>
			<ul>
				<li>Files are limited to 500 MB</li>
				<li>Files will be deleted after 12 hours</li>
				<li>Do not upload any illegal content</li>
			</ul>
		</logo>

		<div class="padding-3"></div>

		<upload class="container">
			<form class="container" method="post" action="/submit">
				<input class="file-input" type="file">
				<div class="padding-3"></div>
				<button class="button-1" type="submit">Upload File</button>
			</form>
			<form class="container" method="post" action="/submit">
				<textarea rows="3" cols="50" placeholder="Enter Text Here"></textarea>
				<div class="padding-5"></div>
				<button class="button-1" type="submit">Upload Text</button>
			</form>
		</upload>
	</body>
</html>
